* {
  box-sizing: border-box;
  font-family: "Iosevka Charon Mono", sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.page.fade-exit {
  opacity: 0;
}

.background {
  position: absolute;
  inset: -40px;
  transition: transform 0.15s ease-out;
  z-index: 1;
}

.sky-blue-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-image {
  max-width: 80%;
  margin-top: 20px;
}

.sound-button {
  position: absolute;
  top: 20px;
  right: 20px;

  background: none;
  border: none;
  cursor: pointer;
  z-index: 999;
}

.sound-button img {
  width: 32px;
  height: 32px;
}

.filter-button img {
  width: 40px;
  height: 40px;
}

#WorkshopBG {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/WorkshopBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -10;
}

#WorkshopBOOK {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/WorkshopBOOK.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -9;
}

#WorkshopPC {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/WorkshopPC.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -8;
}

#WorkshopCANVA {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/WorkshopCANVA.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -7;
}

#WorkshopCANVA2 {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/WorkshopCANVA2.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -7;
}

#WorkshopCANVA3 {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/WorkshopCANVA3.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -7;
}

#RoomFILTER {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/RoomFILTER.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -6;
  opacity: 0.5;
  mix-blend-mode: multiply;
  pointer-events: none;
}

#WorkshopLIGHT1 {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/WorkshopLIGHT1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -5;
  mix-blend-mode: color-dodge;
  opacity: 1;
  filter: brightness(1) saturate(1);
  pointer-events: none;
}

#WorkshopLIGHT2 {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/WorkshopLIGHT2.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -4;
  mix-blend-mode: color-dodge;
  opacity: 1;
  filter: brightness(0.8) saturate(1);
  pointer-events: none;
}

#WorkshopPARTICLES {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/WorkshopPARTICLES.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -3;
  mix-blend-mode: color-dodge;
  opacity: 1;
  filter: brightness(0.8) saturate(1);
  pointer-events: none;
}

#WorkshopHIDE {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/WorkshopHIDE.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

#CreditsBG {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/CreditsBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -10;
}

#CreditsLIGHT1 {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/CreditsLIGHT1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -6;
  mix-blend-mode: color-dodge;
  opacity: 1;
  filter: brightness(1) saturate(1);
}

#CreditsLIGHT2 {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/CreditsLIGHT2.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -5;
  mix-blend-mode: color-dodge;
  opacity: 1;
  filter: brightness(0.8) saturate(1);
}

#CreditsPARTICLES {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/CreditsPARTICLES.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -4;
  mix-blend-mode: color-dodge;
  opacity: 1;
  filter: brightness(0.8) saturate(1);
}

#CreditsHIDE {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/CreditsHIDE.png);
  background-size: cover;
  pointer-events: none;
}

#CreditsPAPER {
  width: 1000px;
  height: 630px;
  position: absolute;
  top: 150px;
  left: 400px;
  z-index: -9;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(-5deg) rotateZ(3deg);
  background-image: url(../assets/Images/CreditsPAPER.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  pointer-events: none;
}

#CreditsContent {
  color: #422522;
  font-size: 24px;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 5;
  pointer-events: auto;
}

#CreditsContent a {
  color: #422522;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

#CreditsContent a:hover {
  font-weight: bold;
}

#ProfileBG {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/ProfileBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -10;
}

#ProfileBoard {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/ProfileBoard.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -9;
}

#ProfileLIGHT1 {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/ProfileLIGHT1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -6;
  mix-blend-mode: color-dodge;
  opacity: 1;
  filter: brightness(1) saturate(1);
  pointer-events: none;
}

#ProfileLIGHT2 {
  width: 100%;
  height: 100%;
  background-image: url(../assets/Images/ProfileLIGHT2.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -5;
  mix-blend-mode: color-dodge;
  opacity: 0.4;
  filter: brightness(0.8) saturate(1);
  pointer-events: none;
}

#ProfileLIGHT1,
#ProfileLIGHT2,
#RoomFILTER,
#CreditsHIDE,
#RoomPARTICLES {
  pointer-events: none;
}

.background div {
  pointer-events: none;
}

#BoardContent,
#BoardContent * {
  pointer-events: auto;
}

#BoardContent {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -7;
  width: 70%;
  height: 70%;
  color: #251614;
  top: 6.8%;
  left: 15%;
  padding: 50px;
}

#BoardContent h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

#BoardContent p {
  font-size: 24px;
  line-height: 1.5;
}

.near-picture {
  position: relative;
  left: 10%;
  margin: 0 auto;
  max-width: 1000px;
}

#SocialsLinks {
  display: flex;
  justify-content: start;
  gap: 40px;
  margin-top: 20px;
}

#SocialsLinks a {
  text-decoration: none;
  font-size: 24px;
  color: inherit;
  transition: all 0.1s ease-in-out;
}

#SocialsLinks a:hover {
  font-weight: bold;
}

#SkillsBoard {
  display: flex;
  justify-content: start;
  gap: 10px;
  height: auto;
  margin: 0;
  padding: 0;
}

#SkillsBoard p {
  background-color: #68573898;
  color: #422522;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  margin: 0;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;

  font-size: 40px;
  color: white;

  background: none;
  border: none;
  cursor: pointer;

  z-index: 999;
  transition: transform 0.2s;
}

.back-button:hover {
  transform: scale(1.2);
}

.canvas-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: visible;
  z-index: -6;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

/* Pour les trois CANVA */
#WorkshopCANVA {
  background-image: url(../assets/Images/WorkshopCANVA.png);
}
#WorkshopCANVA2 {
  background-image: url(../assets/Images/WorkshopCANVA2.png);
}
#WorkshopCANVA3 {
  background-image: url(../assets/Images/WorkshopCANVA3.png);
}

.left-button,
.right-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1000;
}

.left-button {
  left: 40px;
  transition: all 0.2s ease-in-out;
  transform: perspective(100px) rotateY(5deg) rotateZ(6deg);
}

.right-button {
  right: 40px;
  transition: all 0.2s ease-in-out;
  transform: perspective(100px) rotateY(-5deg) rotateZ(-6deg);
}

.left-button:hover,
.right-button:hover {
  color: #d67b64;
}

.left-button:hover {
  transform: perspective(100px) rotateY(-5deg) rotateZ(-7deg) scale(1.5);
}

.right-button:hover {
  transform: perspective(100px) rotateY(5deg) rotateZ(7deg) scale(1.5);
}

@keyframes lightPulse {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}

.see-button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  font-size: 24px;
  background: none;
  border: 0px solid white;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
  background-image: url(../assets/Images/TAB.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 150px;
  color: rgb(223, 186, 155);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: perspective(100px) rotateY(-5deg) rotateZ(-6deg) translateX(-50%);
}

.see-button:hover {
  transform: translateX(-50%) perspective(100px) rotateY(-5deg) rotateZ(-7deg);
  color: #d67b64;
  box-shadow: 5px 5px rgba(214, 123, 100, 0.5);
}

/* Mobile - responsive scaling */
@media (max-width: 1000px) {
  #BoardContent {
    transform: scale(0.5);
    transform-origin: top left;
    top: 5%;
    left: 12%;
    width: auto;
    height: auto;
    max-width: 80%;
    box-sizing: border-box;
    line-height: 0;
  }

  #BoardContent h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  #BoardContent p,
  #SkillsBoard p,
  #SocialsLinks a {
    font-size: 12px;
  }

  .near-picture {
    left: 6%;
    max-width: 75%;
  }

  #SkillsBoard {
    gap: 2px;
    flex-wrap: wrap;
  }

  #SocialsLinks {
    gap: 20px;
    flex-wrap: wrap;
  }

  .see-button {
    font-size: 20px;
    width: 120px;
    padding: 8px 15px;
  }

  .back-button {
    font-size: 32px;
  }

  #CreditsPAPER {
    width: 50%;
    height: 75%;
    position: absolute;
    top: 15%;
    left: 25%;
    z-index: -9;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(-5deg) rotateZ(3deg);
    background-image: url(../assets/Images/CreditsPAPER.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
    pointer-events: none;
    font-size: 10px;

    #CreditsContent {
      color: #422522;
      font-size: 12px;
      text-align: left;
      padding: 20px;
      border-radius: 10px;
      position: relative;
      z-index: 5;
      pointer-events: auto;
    }

    #CreditsContent a {
      color: #422522;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }

    #CreditsContent a:hover {
      font-weight: bold;
    }
  }
}

@media (max-width: 700px) {
  #BoardContent {
    transform: scale(0.5);
    transform-origin: top left;
    top: 2%;
    left: 13%;
    width: auto;
    height: auto;
    max-width: 95%;
    box-sizing: border-box;
    line-height: 0;
  }

  #BoardContent h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  #BoardContent p,
  #SkillsBoard p,
  #SocialsLinks a {
    font-size: 10px;
  }

  .near-picture {
    left: 6%;
    max-width: 75%;
  }

  #SkillsBoard {
    gap: 2px;
    flex-wrap: wrap;
  }

  #SocialsLinks {
    gap: 20px;
    flex-wrap: wrap;
  }

  .see-button {
    font-size: 20px;
    width: 120px;
    padding: 8px 15px;
  }

  .back-button {
    font-size: 32px;
  }
}
